:root {
    --main-font-family: 'Poppins', sans-serif;
    --heading-font-family: 'Italiana', serif; 
    --body-background-color: #232443;
    --primary-color: #BAE8E8;
    --secondary-color: #E3F6F5;
}

body {
    background-color: var(--body-background-color);
}

.navbar {
    background-color: var(--body-background-color) !important;
    padding: 10px 40px;
}

.navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px; 
    background-color: var(--secondary-color); 
  }

.nav-item {
    color: var(--secondary-color) !important;
}

.active {
    opacity: 60%;
}

h1 {
    font-family: var(--heading-font-family);
    font-size: 25px;
    color: var(--primary-color);
}

h2 {
    font-family: var(--heading-font-family);
    font-size: 20px;
    color: var(--primary-color);
}

p {
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 200;
    color: var(--secondary-color);
}

em {
    font-weight: bolder;
}

.container {
    padding: 20px 40px;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    color: var(--body-background-color) !important;
    font-size: 12px;
    font-weight: 550;
    border: none;
}

.btn-primary:hover {
    opacity: 90%;
}

video.camera-video {
    display: block;
    height: auto;
    border-radius: 6px; 
}

.review-box {
    background-color: rgba(249, 249, 249, 0.4);
    padding: 10px;
    border-radius: 4px;
}

.review-author {
    display: flex;
    gap: 10px;
}

.review-img {
    height: 40px;
    width: 40px;
}

form {
    border: 0.5px solid #BAE8E8;
    border-radius: 4px;
    padding: 10px;
    margin: 0 auto;
    max-width: 800px;
}

form input,
form textarea,
form button {
    width: 50% !important;
    margin: 0 auto !important;
    display: block !important;
}

.contact-img{
    border-radius: 6px;
}

footer {
    border-top: 0.5px solid #BAE8E8;
    width: 100vw;
    margin: 0 auto;
    padding: 20px;
}

.footer-txt {
    text-align: center;
}

@media (max-width: 767px)
{
    .contact-text {
        text-align: center;
    }
    .contact-img {
        padding: 10px;
        max-height: 300px;
        display: block;
        margin: 0 auto;
        border-radius: 6px !important;
    }

    }